*{
    margin: 0;
    padding: 0;
}
main{
    min-height: 640px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr;
}

.caja{
    display: flex;
    align-items: center;
    justify-content: center;
}

.one{
    background-color: greenyellow;
}

.two{
    background-color: black;
    color: white;
}
