*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    display: grid;
    grid-template-columns: 515px 315px 515px;
    grid-template-rows: 310px 310px 310px;
}

.caja{
    display: flex;
    align-items: center;
    justify-content: center;
}

.a{
    background-color: greenyellow;
}

.b{
    background-color: orange;
}

.c{
    background-color: orangered;
}

.d{
    background-color: red;
}

.e{
    background-color: blue;
}

.f{
    background-color: yellow;
}